@inherits LayoutComponentBase


<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10" /><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" /></svg>
        </a>
        <NavLink class="py-2 d-none d-md-inline-block" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="py-2 d-none d-md-inline-block" href="cashier_console">
            <span class="oi oi-plus" aria-hidden="true"></span> Sell
        </NavLink>
        <NavLink class="py-2 d-none d-md-inline-block" href="categories">
            <span class="oi oi-plus" aria-hidden="true"></span> Categories
        </NavLink>
        <NavLink class="py-2 d-none d-md-inline-block" href="products">
            <span class="oi oi-plus" aria-hidden="true"></span> Products
        </NavLink>
        <NavLink class="py-2 d-none d-md-inline-block" href="transactions">
            <span class="oi oi-plus" aria-hidden="true"></span> Reports
        </NavLink>
        <LoginDisplay></LoginDisplay>
    </nav>
</header>

<main class="content px-4">
    @Body
</main>
