@page "/categories"
@inject UseCases.IViewCategoriesUseCase ViewCategoriesUseCase

<h3>Manage Categories</h3>


@if (categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
    
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        categories = ViewCategoriesUseCase.Execute()?.ToList();
    }
}
